include "/usr/local/opt/nano/share/nano/asm.nanorc"
include "/usr/local/opt/nano/share/nano/autoconf.nanorc"
include "/usr/local/opt/nano/share/nano/awk.nanorc"
include "/usr/local/opt/nano/share/nano/c.nanorc"
include "/usr/local/opt/nano/share/nano/changelog.nanorc"
include "/usr/local/opt/nano/share/nano/cmake.nanorc"
include "/usr/local/opt/nano/share/nano/css.nanorc"
include "/usr/local/opt/nano/share/nano/debian.nanorc"
include "/usr/local/opt/nano/share/nano/default.nanorc"
include "/usr/local/opt/nano/share/nano/elisp.nanorc"
include "/usr/local/opt/nano/share/nano/fortran.nanorc"
include "/usr/local/opt/nano/share/nano/gentoo.nanorc"
include "/usr/local/opt/nano/share/nano/go.nanorc"
include "/usr/local/opt/nano/share/nano/groff.nanorc"
include "/usr/local/opt/nano/share/nano/guile.nanorc"
include "/usr/local/opt/nano/share/nano/html.nanorc"
include "/usr/local/opt/nano/share/nano/java.nanorc"
include "/usr/local/opt/nano/share/nano/javascript.nanorc"
include "/usr/local/opt/nano/share/nano/json.nanorc"
include "/usr/local/opt/nano/share/nano/lua.nanorc"
include "/usr/local/opt/nano/share/nano/makefile.nanorc"
include "/usr/local/opt/nano/share/nano/man.nanorc"
include "/usr/local/opt/nano/share/nano/mgp.nanorc"
include "/usr/local/opt/nano/share/nano/mutt.nanorc"
include "/usr/local/opt/nano/share/nano/nanohelp.nanorc"
include "/usr/local/opt/nano/share/nano/nanorc.nanorc"
include "/usr/local/opt/nano/share/nano/nftables.nanorc"
include "/usr/local/opt/nano/share/nano/objc.nanorc"
include "/usr/local/opt/nano/share/nano/ocaml.nanorc"
include "/usr/local/opt/nano/share/nano/patch.nanorc"
include "/usr/local/opt/nano/share/nano/perl.nanorc"
include "/usr/local/opt/nano/share/nano/php.nanorc"
include "/usr/local/opt/nano/share/nano/po.nanorc"
include "/usr/local/opt/nano/share/nano/postgresql.nanorc"
include "/usr/local/opt/nano/share/nano/pov.nanorc"
include "/usr/local/opt/nano/share/nano/python.nanorc"
include "/usr/local/opt/nano/share/nano/ruby.nanorc"
include "/usr/local/opt/nano/share/nano/rust.nanorc"
include "/usr/local/opt/nano/share/nano/sh.nanorc"
include "/usr/local/opt/nano/share/nano/spec.nanorc"
include "/usr/local/opt/nano/share/nano/tcl.nanorc"
include "/usr/local/opt/nano/share/nano/tex.nanorc"
include "/usr/local/opt/nano/share/nano/texinfo.nanorc"
include "/usr/local/opt/nano/share/nano/xml.nanorc"

include "~/.nano/git.nanorc"
include "~/.nano/gitcommit.nanorc"
include "~/.nano/rpmspec.nanorc"
include "~/.nano/systemd.nanorc"
